<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>登録ページ</title>
  </head>
  <body>
    <h1>ユーザ登録</h1>
    <form
      action="exam04-result.html"
      th:action="@{/exam04/result}"
      th:object="${userForm}"
      method="post"
    >
      <p th:errors="*{name}" style="color: red"></p>
      名前：<input type="text" name="name" th:field="*{name}" /> <br />
      <p th:errors="*{age}" style="color: red"></p>
      年齢：<input type="text" name="age" th:field="*{age}" /> <br />
      <p th:errors="*{comment}" style="color: red"></p>
      コメント： <br />
      <textarea
        name="comment"
        cols="50"
        rows="5"
        th:field="*{comment}"
      ></textarea
      ><br />
      <button type="submit">登録</button>
    </form>
  </body>
</html>
